@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%)
}

.header-title {
  width: 208px;
  height: 28px;
  font-family: Baskerville;
  font-size: 28px;
}

.dropdown-content div:hover {
  background-color: #eaeaea2e
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f2f2f2;
}

.select {
  width: 240px;
  transition: 0.5s ease all;
}

.select:after {
  position: absolute;
  top: 15px;
  right: 10px;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid #ff000000;
  border-top: 6px solid rgb(0 0 0);
  pointer-events: none;
}